# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.*

# Local caches
.cache
.coverage

# Build caches
.vite
.next
.parcel-cache

# Lint caches
.eslintcache
.stylelintcache

# Test artifacts
.test-results
.nyc_output
